<div class="container">
  <div class="row">
    <div class="col-10">
      <h2>Grille</h2>
    </div>
    <div class="col-2">Mise total : {{total}} €</div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <div class="col-1-10" *ngFor="let grid of grids">
            <span class="badge badge-primary" (click)="gridClick(grid)" [class.badge-warning]="activateGrisClass(grid)">{{grid}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-4" *ngFor="let star of stars">
              <span class="badge badge-primary" (click)="starClick(star)" [class.badge-warning]="star === selectedStars">{{star}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
